<h1>Welcome to my {{ title }} app{{ name }}</h1>

<nav class="navbar">
  <a class="nave-item nav-link" routerLink="/class"
  routerLinkActive="active">Class List</a>
  <a class="nave-item nav-link" routerLink="/race"
  routerLinkActive="active">Race List</a>
  <a class="nave-item nav-link" routerLink="/character"
  routerLinkActive="active">Character List</a>
  <a class="nave-item nav-link" routerLink="/boss"
  routerLinkActive="active">Boss List</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-npc></app-npc> -->

<!-- <div>
  <form #nameForm="ngForm" (ngSubmit)="addName(nameForm)">
    <label for="name">Enter your name </label>
    <input name="name" id="name" ngModel/>
      <button>Submit</button>
  </form>
</div>
<hr>
<p>There are {{ components.length }} components in this app</p>

<div *ngFor="let name of components">
  <div>{{name}}</div>
  <button (click)="changeTitle(name)">Click Me</button>
</div>
<br />
<div>
  <form #componentForm="ngForm" (ngSubmit)="addComponent(componentForm)">
    <label for="name">Enter a component name</label>
    <input name="name" id="name" ngModel/>
    <div>
      <button>Add to Components</button>
    </div>
  </form>
</div>
<br />
<hr>
<app-dungeon name="Scary Cavern"></app-dungeon>
<hr>
<br />
<app-character name="Smethwick" type="bard"></app-character>
<app-character name="Dawncaster" type="fighter"></app-character>
 -->

 <!-- <app-character-class-list></app-character-class-list> -->

 <!-- <app-character-race-list></app-character-race-list> -->